<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Todo list</title>
   <base href="http://localhost/todolist/www/"/>
</head>
<body>
   <header>
      <h1>Exemple d'appli</h1>
   </header>
   <h2>Liste de choses à faire</h2>
   <ul>
      <?php foreach($this->list as $item) : ?>
      <li><a href="item/<?php echo $item->slug;?>"><?php echo $item->description;?></a></li>
      <?php endforeach;?>
   </ul>
   <footer>
      <p>Pied de page...</p>
   </footer>
</body>


</html>




